* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: background-color .5s ease;
    z-index: 1000;
}

.nav {
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: height .5s ease;
}

.nav a {
    color: #2f2d4e;
    font-size: 14px;
    font-family: 'Open-sans', sans-serif;
}

.nav .active {
    color: #e22104;
}

.nav-list {
    list-style: none;
    display: flex;
    margin-left: 4rem;
}

.nav-link {
    padding: 0 15px;
    position: relative;
}

.nav-link:hover {
    color: #e22104;
}


/*Apply styles after scroll*/

.scrolling-active {
    background-color: #fff;
}

.scrolling-active .nav {
    background-color: #7676ff !important;
    transition: all 0.3s;
}

.scrolling-active .nav a {
    color: #fff;
}

.scrolling-active .nav a:hover {
    color: #e22104;
}

.scrolling-active .nav .active {
    color: #e22104;
}

.scrolling-active .nav-link::after {
    background-color: #313131;
}


/*Banner CSS*/

.banner {
    margin-top: 100px;
}

.banner-right img {
    width: 100%;
}

.banner-middle h1 {
    font-size: 70px;
    margin-bottom: 50px;
    line-height: .929;
    font-weight: 600;
    font-family: "Josefin Sans", sans-serif;
    color: #2f2d4e;
    width: 90%;
    margin-top: 100px;
}

.button-1 {
    padding: 15px 45px;
    background-color: #e72155;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border-radius: 30px;
    border: none;
    text-transform: capitalize;
    transition: all .3s;
    margin-right: 35px;
}

.button-2 {
    border: none;
}

.button-2 a {
    padding: 12px 5px 12px 45px!important;
    font-size: 14px;
    font-weight: 600;
    color: #2f2d4e;
    line-height: 1.8;
    background: url(../img/video.png) left center no-repeat;
    background-color: white;
}

.button-2 a:hover {
    color: #0056b3;
}

.banner-1 {
    margin-top: 60px;
    display: inline-block;
    padding-right: 35px;
    border-right: 2px solid #eee;
}

.banner-1 img {
    margin-left: 25PX;
}

.banner-1 h2 {
    font-size: 18px;
    margin-top: 15px;
    font-weight: 600;
    font-family: "Josefin Sans", sans-serif;
    color: #2f2d4e;
    line-height: 1.2;
}

.second {
    padding: 0px 35px;
}

.third {
    border: none;
    padding-left: 35px;
}

.banner-left {
    padding-top: 163px;
}

.banner-left p i {
    font-size: 25px;
    color: #2f2d4e;
    line-height: 1;
    padding: 10px 25px;
}

.banner-left p i:hover {
    color: #e22104;
    cursor: pointer;
}

.button-1:hover {
    background-color: red;
    color: #fff;
}


/*About CSS*/

.about {
    padding: 120px 0px;
}

.about-right {
    padding-left: 80px;
}

.about-right span {
    display: inline-block;
    font-size: 24px;
    color: #e22104;
    padding-right: 115px;
    position: relative;
    margin-bottom: 15px;
    font-weight: 600;
    font-family: "Josefin Sans", sans-serif;
    line-height: 1.2;
}

.about-right span::after {
    background: #9ca0a7;
    width: 50%;
    height: 2px;
    content: '';
    position: absolute;
    margin: 12px 12px;
}

.about-right h1 {
    font-size: 50px;
    font-weight: 600;
    font-family: "Josefin Sans", sans-serif;
    color: #2f2d4e;
    line-height: 1.2;
    margin-top: 32px;
    margin-bottom: 25px;
}

.about-right p {
    color: #888;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.8;
    width: 460px;
    margin-bottom: 40px;
}

.about-right button {
    padding: 14px 45px;
    background-color: #e22104;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    border-radius: 30px;
    border: none;
    text-transform: capitalize;
    transition: all .3s ease 0s;
    margin-right: 35px;
}

.about-right button:hover {
    background-color: red;
    color: #fff;
}


/*Feature CSS*/

.feature-header span {
    display: inline-block;
    font-size: 24px;
    color: #e22104;
    padding-right: 115px;
    position: relative;
    margin-bottom: 15px;
    font-weight: 600;
    font-family: "Josefin Sans", sans-serif;
    line-height: 1.2;
}

.feature-header span::after {
    background: #9ca0a7;
    width: 10%;
    height: 2px;
    content: '';
    position: absolute;
    margin: 12px 12px;
}

.feature-header h1 {
    font-size: 50px;
    font-weight: 600;
    font-family: "Josefin Sans", sans-serif;
    color: #2f2d4e;
    line-height: 1.2;
    margin-bottom: 80px;
    padding-right: 46pc;
}

.feature-body-item {
    padding-bottom: 25px;
    background-color: #fff8f7;
}

.feature-body-item:hover {
    box-shadow: 0 10px 20px 0 rgb(8 6 89 / 10%);
    background-color: #fff;
    transition: all .5s ease 0s;
    cursor: pointer;
}

.feature-body img {
    max-width: 100%;
    margin-bottom: 15px;
}

.feature-body h1 {
    font-weight: 600;
    font-size: 24px;
    font-family: "Josefin Sans", sans-serif;
    color: #2f2d4e;
    line-height: 1.2;
    cursor: pointer;
    margin-bottom: 0px;
    margin-left: 22px;
}

.feature-body h2 {
    margin-bottom: 5px;
    color: #888;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.8;
    margin-left: 22px;
}

.feature-body span i {
    font-size: 11px;
    color: #ffbe0f;
    font-style: normal;
    line-height: 1;
}

.extra {
    color: #e22104;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;
    margin-left: 150px;
}

.rating {
    margin-left: 22px;
}

.feature {
    margin-bottom: 90px;
}


/*Offer CSS*/

.offer {
    padding-top: 120px;
    padding-bottom: 150px;
    background: #fff8f7;
}

.relative {
    position: absolute;
}

.position {
    height: 380px;
    width: 555px;
    background: #e22104;
    padding: 80px 20px;
    box-shadow: -13px 2px 20px 0 rgb(8 6 89 / 20%);
    position: relative;
    left: -110px;
    top: 70px;
}

.position h1 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 40px;
    margin-bottom: 25px;
    text-transform: capitalize;
    color: #fff;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
}

.position h2 {
    text-align: center;
    font-size: 60px;
    margin-bottom: 25px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    line-height: 1.2;
    font-family: "Josefin Sans", sans-serif;
}

.position button {
    box-shadow: -5px 8px 20px 0 rgb(229 16 2 / 15%);
    padding: 14px 45px;
    background-color: #e22104;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    border-radius: 30px;
    border: none;
    text-transform: capitalize;
    transition: all .3s ease 0s;
    margin-right: 35px;
    border: 1px solid white;
    margin-left: 175px;
}

.position button:hover {
    background-color: red;
    color: #fff;
}


/*Menu CSS*/

.menu {
    margin: 130px 0px;
}

.divider-3 {
    height: 1px;
    background-color: black;
    display: block;
    width: 105px;
    margin-left: 185px;
    margin-top: -16px;
}

.menu-up h1 {
    font-size: 50px;
    font-weight: 600;
    font-family: "Josefin Sans", sans-serif;
    color: #2f2d4e;
    line-height: 1.2;
    margin-bottom: 80px;
}

.menu-up span {
    display: inline-block;
    font-size: 24px;
    color: #e22104;
    padding-right: 115px;
    position: relative;
    margin-bottom: 15px;
    font-weight: 600;
    font-family: "Josefin Sans", sans-serif;
    line-height: 1.2;
}

.menu-up span::after {
    background: #9ca0a7;
    width: 10%;
    height: 2px;
    content: '';
    position: absolute;
    margin: 12px 12px;
}

.price {
    width: 540px;
    height: 160px;
    padding: 30px 40px 30px 40px;
    background: #fff8f7;
    margin-bottom: 20px;
}

.price:hover {
    background: #fff;
    box-shadow: 0 10px 20px 0 rgb(8 6 89 / 10%);
}

.menu-item {
    padding-right: 10px;
    font-size: 24px;
    font-weight: 600;
    font-family: "Josefin Sans", sans-serif;
    line-height: 1.2;
}

.menu-price {
    font-size: 20px;
    padding-left: 10px;
    font-family: "Open Sans", sans-serif;
    line-height: 1.2;
    font-weight: 600;
    margin-left: 95px;
    color: #e22104;
}

.menu-item::after {
    background: #9ca0a7;
    width: 7.5%;
    height: 2px;
    content: '';
    position: absolute;
    margin: 12px 12px;
}

.menu-detail {
    color: #888;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.8;
    margin-top: 20px;
}


/*Reservation CSS*/

.reservation {
    background-image: url(../img/food.10.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px 0px;
}

.reserve h1 {
    font-size: 20px;
    color: #fff;
    margin-top: 0;
    margin-bottom: 1rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    line-height: 1.8;
    text-align: center;
}

.reserve h2 {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    font-family: "Josefin Sans", sans-serif;
    line-height: 1.2;
    margin-bottom: 0.5rem;
    text-align: center;
}

.reserve button {
    padding: 14px 45px;
    background-color: #e22104;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    border-radius: 30px;
    border: none;
    text-transform: capitalize;
    transition: all .3s ease 0s;
    margin-right: 35px;
    width: auto;
    margin: 0 auto;
}

.reserve button:hover {
    background-color: red;
    color: #fff;
}


/*Review CSS*/

.review {
    padding: 120px 0px;
}

.review span {
    display: inline-block;
    font-size: 24px;
    color: #e22104;
    padding-right: 115px;
    position: relative;
    margin-bottom: 15px;
    font-weight: 600;
    font-family: "Josefin Sans", sans-serif;
    line-height: 1.2;
}

.review span::after {
    background: #9ca0a7;
    width: 10%;
    height: 2px;
    content: '';
    position: absolute;
    margin: 12px 12px;
}

.go {
    height: 85px;
    width: 330px;
    background-color: white;
    position: relative;
    top: -113px;
    left: 13px;
}

.go h1 {
    padding: 20px 5px 0px 5px;
    text-align: center;
}

.go h2 {
    text-align: center;
}

.chef-review img {
    max-width: 100%;
}

.chef-review h1 {
    font-weight: 600;
    font-size: 24px;
    font-family: "Josefin Sans", sans-serif;
    color: #2f2d4e;
    line-height: 1.2;
    cursor: pointer;
    margin-bottom: 0px;
    margin-left: 22px;
}

.chef-review h2 {
    margin-bottom: 5px;
    color: #888;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.8;
    margin-left: 22px;
}

.chef-review span i {
    font-size: 11px;
    color: #ffbe0f;
    font-style: normal;
    line-height: 1;
}

.chef-detail {
    height: 85px;
    width: 330px;
    position: relative;
    top: -98px;
    background-color: white;
    left: 13px;
    padding: 20px 5px 10px 5px;
}

.chef-detail h1 {
    text-align: center;
}

.chef-detail h2 {
    text-align: center;
}

.chef-heading {
    font-weight: 600;
    font-size: 24px;
    font-family: "Josefin Sans", sans-serif;
    color: #2f2d4e;
    line-height: 1.2;
    cursor: pointer;
    margin-bottom: 0px;
}

.chef-subheading {
    color: #888;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.8;
}

.review-overlay {
    background: rgba(2, 1, 15, .5);
    position: absolute;
    height: 0;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s
}

.review .chef-review:hover .review-overlay {
    opacity: 1;
    height: 100%;
}

.chef-review {
    position: relative;
    height: 415px;
}

.text {
    margin-top: 110px;
}

.text i {
    display: block;
    font-size: 15px;
    text-align: end;
    color: white;
    margin: 15px;
}

.text i:hover {
    cursor: pointer;
    color: #7676ff;
    transition: 0.3s;
}


/*Form CSS*/

.form {
    padding: 140px 0px;
    background: #fff8f7;
}

.about-right h1 {
    width: 360px !important;
}

.form-left {
    padding-top: 95px;
}

.form-left span {
    display: inline-block;
    font-size: 24px;
    color: #e22104;
    padding-right: 115px;
    position: relative;
    margin-bottom: 15px;
    font-weight: 600;
    font-family: "Josefin Sans", sans-serif;
    line-height: 1.2;
}

.form .form-left span::after {
    background: #9ca0a7;
    width: 50%;
    height: 2px;
    content: '';
    position: absolute;
    margin: 12px 12px;
}

.form-left h1 {
    font-size: 50px;
    font-weight: 600;
    font-family: "Josefin Sans", sans-serif;
    color: #2f2d4e;
    line-height: 1.2;
    margin-top: 32px;
    margin-bottom: 25px;
    width: 360px !important;
}

.form-left p {
    color: #888;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.8;
    width: 460px;
    margin-bottom: 40px;
}

.form-body {
    background-image: url(../img/form.png);
    height: 515px;
    width: 445px;
    padding: 60px 30px;
    margin-left: 80px;
}

.form-body h1 {
    margin-bottom: 40px;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    font-family: "Josefin Sans", sans-serif;
    line-height: 1.2;
    text-align: center;
}

.form input {
    padding: 0.375rem 0.75rem;
    width: 385px;
    margin-bottom: 15px;
    height: 50px;
}

.form input:focus-visible {
    outline: none;
}

.button5 {
    box-shadow: -5px 8px 20px 0 rgb(229 16 2 / 15%);
    padding: 14px 45px;
    background-color: #e22104;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    border-radius: 30px;
    border: none;
    text-transform: capitalize;
    transition: all .3s ease 0s;
    margin-right: 35px;
    width: auto;
    margin-left: 6pc;
    margin-top: 35px;
}

.button5:hover {
    background-color: red;
    color: #fff;
}


/*Blog CSS*/

.blog {
    margin: 140px 0;
}

.feature-up span {
    display: inline-block;
    font-size: 24px;
    color: #e22104;
    padding-right: 115px;
    position: relative;
    margin-bottom: 15px;
    font-weight: 600;
    font-family: "Josefin Sans", sans-serif;
    line-height: 1.2;
}

.feature-up h1 {
    font-size: 50px;
    font-weight: 600;
    font-family: "Josefin Sans", sans-serif;
    color: #2f2d4e;
    line-height: 1.2;
    margin-bottom: 80px;
    padding-right: 30pc;
}

.feature-up span::after {
    background: #9ca0a7;
    width: 10%;
    height: 2px;
    content: '';
    position: absolute;
    margin: 12px 12px;
}

.feature-content {
    padding-bottom: 25px;
    background-color: #fff8f7;
}

.feature-content:hover {
    box-shadow: 0 10px 20px 0 rgb(8 6 89 / 10%);
    background-color: #fff;
    transition: all .5s ease 0s;
}

.feature-content img {
    max-width: 100%;
    margin-bottom: 15px;
}

.feature-content h1 {
    font-weight: 600;
    font-size: 24px;
    font-family: "Josefin Sans", sans-serif;
    color: #2f2d4e;
    line-height: 1.2;
    cursor: pointer;
    margin-bottom: 0px;
    margin-left: 22px;
}

.feature-content h2 {
    margin-bottom: 5px;
    color: #888;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.8;
    margin-left: 22px;
}

.feature-content span i {
    font-size: 11px;
    color: #ffbe0f;
    font-style: normal;
    line-height: 1;
}

.footer {
    background-color: #fff8f7;
    padding: 120px 0px 0px 0px;
}

.fo-up-1 h1 {
    font-weight: 600;
    margin-bottom: 25px;
    font-size: 24px;
    font-family: "Josefin Sans", sans-serif;
    color: #2f2d4e;
    line-height: 1.2;
}

.fo-up-1 a {
    color: #777;
    background-color: transparent;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 2.5;
    list-style-type: none;
}

.fo-up-1 a:hover {
    color: red;
}

.fo-up-1 input:focus {
    box-shadow: none;
    border: 1px solid #818181 !important;
}

.pair {
    color: #777;
    background-color: transparent;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 2.2;
    list-style-type: none;
}

.me-2 {
    margin-right: 0rem!important;
}

.to {
    padding-left: 0px !important;
}

.form-control {
    width: 290px !important;
    border-radius: 0rem !important;
    height: 45px !important;
    border: 1px solid #eee !important;
    background: transparent !important;
    color: #777 !important;
}

.btn {
    border-radius: 0rem !important;
    background: #e22104 !important;
    width: 55px !important;
}

.btn-outline-success {
    color: #fff !important;
    border-color: #e22104 !important;
}

.foot {
    margin: 0;
    padding: 0 0 54px;
    border-bottom: 1px solid #9ca0a7;
}

.copyright p {
    color: #777;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 400;
    margin: 20px 0px 10px 0px;
    line-height: 1.8;
}

.container:hover .overlay2 {
    bottom: 0;
    height: 100%;
}

.container:hover .overlay3 {
    bottom: 0;
    height: 100%;
}